<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}TuffGamez{% endblock %}</title>
  <link rel="preconnect" href="https://unpkg.com">
  <link rel="preconnect" href="https://cdn.jsdelivr.net">
  <link rel="preconnect" href="https://www.googletagmanager.com">
  <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  {% block head %}{% endblock %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8W6XCSVZZ0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-8W6XCSVZZ0');
  </script>
</head>
<body{% block body_attrs %}{% endblock %}>
  {% block content %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>
</html>
